.right-side-container {
	backdrop-filter: blur(10px);
	height: 100%;
	display: flex;
	justify-content: center;

	&__wrapper {
		max-width: 500px;
		position: relative;
		top: 75px;
	}
	&__title {
		margin-bottom: 25px;
		font-size: 30px;
		font-weight: bold;
		&--white {
			color: white;
		}
	}
}
