.left-side-container {
	display: flex;
	justify-content: center;
	position: relative;
	top: 75px;

	&__wrapper {
		max-width: 500px;
		display: flex;
		flex-direction: column;
		align-items: baseline;
	}
	&__back-btn {
		border: none;
		padding: 5px 0;
		margin-bottom: 15px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 16px;
		background-color: transparent;

		span {
			vertical-align: text-bottom;
		}
	}
	&__chevron {
		color: blue;
	}
	&__content {
		font-weight: bold;
		font-size: 24px;
		text-align: left;
		margin-bottom: 20px;
		span {
			color: blue;
		}
	}
	&__btn-block {
		display: flex;
		margin: 20px 0;

		button {
			border: none;
			color: white;
			padding: 15px 32px;
			text-align: center;
			text-decoration: none;
			display: inline-block;
			font-size: 16px;
			border-radius: 3px;
			width: 170px;
			margin-right: 15px;

			&.left-side-container__btn-yes {
				background-color: blue;
			}
			&.left-side-container__btn-no {
				border: 1px solid blue;
				color: blue;
			}
		}
	}
}
