.main-container {
	flex: 1 0 auto;
	display: flex;

	&__left-side {
		background-color: #fbf5f6;
		flex: 1 0;
	}
	&__right-side {
		background-color: darkgray;
		flex: 1 0;
		background-image: url('./bg.jpg');
		background-size: cover;
	}
}
