.footer-container {
	min-height: 75px;
	flex-shrink: 0;
	display: flex;
	justify-content: space-between;

	&__chat {
		align-self: center;
		margin-left: 10px;
	}

	&__bookmark {
		align-self: center;
		margin-right: 10px;
	}
}
