.btn-block-container {
	display: flex;
	margin: 20px 0;

	button {
		border: none;
		color: white;
		padding: 15px 32px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 16px;
		border-radius: 3px;
		width: 170px;
		margin-right: 15px;

		&.btn-block-container__btn-yes {
			background-color: blue;
		}
		&.btn-block-container__btn-no {
			border: 1px solid blue;
			color: blue;
			margin-right: 0;
		}
	}
}
