.form-block-container {
	width: 355px;
	&__form-title {
		font-weight: bold;
		text-align: left;
		margin: 10px 0;
	}
	&__range {
		height: 50px;
		border: 1px solid hsl(0, 0%, 80%);
		border-radius: 4px;
		background-color: white;
		display: flex;
		align-items: center;
		position: relative;
	}
	&__range-label {
		font-size: 16px;
		white-space: nowrap;
		padding: 0px 10px;
	}
	&__range-value {
		position: absolute;
		right: -90px;
		font-weight: bold;
		font-size: 19px;
	}
}
