.header-container {
	max-height: 70px;
	flex-shrink: 0;
	display: flex;
	justify-content: space-between;

	&__logo {
		position: relative;
		width: 110px;
		height: 80px;
		z-index: 1;
		margin-left: 50px;
		background-color: #122a67;
		border-bottom-left-radius: 3px;
		border-bottom-right-radius: 3px;

		span {
			color: white;
			font-weight: bold;
			font-size: 30px;
			position: absolute;
			bottom: 5px;
			right: 0;
			left: 0;
		}
	}
	&__info {
		align-self: center;
		margin-right: 10px;
	}
}
