.chat-container {
	width: 310px;
	display: flex;
	&__icon {
		background-color: whitesmoke;
		background-image: url('./chat.png');
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
		min-width: 50px;
	}
	&__title {
		font-weight: bold;
		text-align: start;
	}
	&__status-text {
		text-transform: uppercase;
		font-size: 11px;
	}
}
