.line-container {
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	position: relative;
	width: 400px;
	margin: 30px auto;

	&__title {
		margin-bottom: 5px;
		color: white;
	}

	&__wrapper {
		width: 100%;
	}

	&__body {
		border: 3px solid white;
		border-radius: 3px;
	}

	&__shadow {
		width: 100%;
		border: 3px solid grey;
		border-radius: 3px;
		position: absolute;
		bottom: 0px;
		z-index: -1;
	}
}
